* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: lightblue;
    color: black;
    font-family: 'Shrikhand', cursive;
}

header nav {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
	font-family: 'Shrikhand', cursive;
}

header nav ul {
    display: block;
    text-align: center;
}

header nav ul li {
    display: inline-block;
	list-style: none;
	width: 15%;
	margin-top: .8%;
    text-decoration: none;
    color: black;
    background-color: lightblue;
    font-size: 1.5em;
}

header nav ul li :hover {
    text-decoration: underline;
    background-color: black;
    color: aliceblue;
}

header nav ul li a:visited {
    color: black;
    background-color: lightblue;
}



header h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

main {
    background-color: burlywood;
    color: black;
    min-height: 550px;
}

main h2 {
    font-size: 3em;
}

main img {
    max-height: 500px;
    max-width: 500px;
    float: right;
}

main p {
    font-size: 2em;
}

#container {
    max-width: 80%;
    background-color: burlywood;
    color: black;
}

#container img {
    margin: auto;
    float: left;
    padding-right: 2%;
    max-width: 500px;
    max-height: 500px;
}

#container table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 1em;
}

#container tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    background-color: lightblue;
}

#container input {
    height: 2em;
    width: 17em;
    border-radius: 5px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 1em;
    font-weight: bold;
    background-color: lightblue;
    color: black;
    border: 5px double black;
}

footer {
    background-color: lightblue;
    color: black;
    
}

footer nav {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
	font-family: 'Shrikhand', cursive;
}

footer nav ul {
    display: block;
    text-align: center;
}

footer nav ul li {
    display: inline-block;
	list-style: none;
	width: 15%;
	margin-top: .8%;
    text-decoration: none;
    color: black;
    background-color: lightblue;
    font-size: 1.5em;
}

footer nav ul li:hover {
    text-decoration: underline;
    background-color: black;
    color: aliceblue;
}

footer nav ul li:visited {
    color: black;
    background-color: lightblue;
}

footer h4 h5 h6 {
    text-align: center;
}