* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: lightblue;
    color: black;
    font-family: 'Shrikhand', cursive;
}

header nav {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
	font-family: 'Shrikhand', cursive;
}

header nav ul {
    display: block;
    text-align: center;
}

header nav ul li {
    display: inline-block;
	list-style: none;
	width: 15%;
	margin-top: 5%;
    text-decoration: none;
    color: black;
    background-color: lightblue;
}

header nav ul li:hover {
    text-decoration: underline;
    background-color: black;
    color: aliceblue;
}

body {
    background-color: burlywood;
    color: black;
}

footer {
    background-color: lightblue;
    color: black;
}

footer nav {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
	font-family: 'Shrikhand', cursive;
}

footer nav ul {
    display: block;
    text-align: center;
}

footer nav ul li {
    display: inline-block;
	list-style: none;
	width: 15%;
	margin-top: .8%;
}

footer nav ul li:hover {
    text-decoration: underline;
    background-color: black;
    color: aliceblue;
}